.consultation-cta {
  @apply pb-32 pt-24;
  background: url('/src/assets/images/consultation-bg.png') center no-repeat;
  background-size: cover;
  h2 {
    @apply text-2xl font-bold leading-8 text-white;
  }
  button {
    @apply text-dark w-full rounded-full text-base font-semibold tracking-wider py-[6px] mt-8;
    border: 3px solid #beeae0;
    background: #ffffff;
  }
  .applications {
    margin-top: 0;
    .section__title {
      @apply hidden;
    }
    .call {
      @apply hidden;
    }
  }
}
