.burgerMenu {
  height: calc(100vh - 56px);
  backdrop-filter: blur(58px);
  @apply px-4 py-6;
  li {
    padding: 12px 8px 12px 8px;
    width: fit-content;
  }
  a {
    @apply text-lg font-medium text-dark sm:text-2xl;
    &.active {
      @apply text-main font-bold;
    }
  }
}
