.builders {
  svg {
    filter: grayscale(1);
    transition: fill 0.3s ease-in-out;
    width: 100%;
    &:hover {
      filter: grayscale(0);
    }
  }
  .builders__slider {
    h3 {
      @apply text-2xl font-bold text-dark;
    }
    p {
      @apply text-base font-normal leading-6 tracking-tightest;
    }
  }
  .swiper-arrow {
    position: absolute;
    bottom: -60px;
    @apply lg-md:top-1/2 lg-md:-translate-y-1/2 lg-md:bottom-0;
  }
  .arrow {
    &-prev {
      left: 0;
    }
    &-next {
      right: 0;
    }
  }
}
