.accordionItem {
  @apply lg-md:first:mt-0;
  button {
    @apply flex gap-3 items-center w-full mt-6 py-2 text-left text-gray-800 lg-md:first:mt-0 last:mb-6;
  }
  .title {
    font-size: 24px;
    transition: color 300ms linear;
    @apply xl:text-[28px];
  }
  .content {
    overflow: hidden;
    transition: max-height 300ms linear;
  }
  .ellipsis {
    transition: background-color 300ms linear;
  }
}
